:root {
    --color-dark: #0f172a;
    --color-primary: #3b82f6;
    --color-primary-dark: #1e40af;
    --color-light: #ffffff;
    --color-text-light: #f8fafc;
    --font-base: "Segoe UI", "Roboto", sans-serif;
}
